@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirLTStd-Roman.otf");
}


body{
    font-family: "Avenir";
    transition: all .1s ease-in-out;
   background: #F4F6F8;
   overflow-x: hidden;
}


.chart-box{
  background: linear-gradient(241deg, #CCFFFA -2.96%, #FFFCF5 44.27%, #FFE5E9 89.58%), #FFF;
}



.sm-table {
   font-family: 'Avenir';

  --easy-table-border: none;
  --easy-table-row-border: none;

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 60px;
  --easy-table-header-font-color: #848688;
  --easy-table-header-background-color: #fff;

  --easy-table-header-item-padding: 10px 22px;

  --easy-table-body-even-row-font-color: #ff;
  --easy-table-body-even-row-background-color: #fff;
 

  --easy-table-body-row-font-color: #646668;
  --easy-table-body-row-background-color:#fff;
  --easy-table-body-row-height: 70px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: #2d3a4f;
  --easy-table-body-row-hover-background-color: #fff;

  --easy-table-body-item-padding: 10px 22px;

  --easy-table-footer-background-color: #2d3a4f;
  --easy-table-footer-font-color: #c0c7d2;
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;
  --easy-table-rows-per-page-selector-z-index: 1;


  --easy-table-scrollbar-track-color: #fafafa;
  --easy-table-scrollbar-color: #fff;
  --easy-table-scrollbar-thumb-color: #fafafa;;
  --easy-table-scrollbar-corner-color: #fafafa;
  --easy-table-loading-mask-opacity:	0.1;
  --easy-table-loading-mask-background-color: #333;
}

.sm-table .loading-entity {
  margin-top: 10px !important;
}


/*  */

